.jumbotron{

  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: auto;
  text-align: center;
  font-family: arial;
  display:block;


}

.top{
  height:900px;
  width: inherit;
  position: relative;
  align-content: center;
  background-color: #000000;
}
.center {
    height: 900px;
    position: relative;
    border: 3px solid green;
}

.center .jumbotron {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
input[type=text] {
    background: transparent;
    border: none;
    border-bottom: 1px solid #000000;
}
