<!--



<button (click)="display()">display</button> -->

<div class="center">
  <div class="jumbotron jumbotron-fluid container">
    <div class="row">
      <div class="conatiner col-6">
        <form>
          <div class="form-group">
            <label for="formGroupTitleInput">Title</label>
            <input type="text" [(ngModel)]="title" name="title" class="form-control" id="formGroupTitleInput" placeholder="Title..">
          </div>
          <div class="form-group">
            <label for="formGroupContentInput" style="align:left">Content</label>
            <input [(ngModel)]="content" name="content" type="text" class="form-control" id="formGroupContentInput" placeholder="Content....">
          </div>
          <input type="submit"  class="btn btn-success"value="Add a Post" (click)="addPost()">
        </form>
        </div>
      <div class="conatiner col-6" style="background:#3C3E52">
        <ul *ngFor="let post of posts | async">
          <li  >
             <strong>{{post.data.title}}</strong>
             <a href="#" (click)="deletePost(post.id)">delete</a>
             <br/>
             {{post.data.content}}</li>
        </ul>
      </div>
    </div>
    </div>
</div>
